ul.required-tags,
.bookmark .status span,
.blurb .icon {
  opacity: 1 !important;
}

img[src$="/images/skins/iconsets/default/icon_user.png"] {
  box-sizing: border-box;
  content: url("https://i.imgur.com/he8AD5R.png");
}

.comment .icon .anonymous {
  box-sizing: border-box;
  background: url("https://i.imgur.com/aGDP7xH.png");
  background-size: cover;
}

.comment .icon .visitor {
  box-sizing: border-box;
  background: url("https://i.imgur.com/aGDP7xH.png") !important;
  background-size: 80px !important;
  background-position: center !important;
}

img[src$="/images/skins/iconsets/default/icon_collection.png"] {
  box-sizing: border-box;
  content: url("https://i.imgur.com/grLxvit.png");
}

.tagset .primary .icon,
.tag .primary .icon,
.index .tagset .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_tag_01.png"), 
    linear-gradient(transparent, #ffffff50 45% 55%, transparent);
  background-size: cover;
  background-color: #900;
  border: 1.5px solid #00000025;
}

.index .mystery .icon {
  box-sizing: border-box;
  background: url("https://i.imgur.com/aGDP7xH.png"), 
    linear-gradient(transparent, #ffffff50 45% 55%, transparent);
  background-size: cover;
}

.admin .primary .icon {
  box-sizing: border-box;
  background: url("https://images.squidge.org/images/2025/02/13/zerafina_icon_admin_01.png")  no-repeat, 
    linear-gradient(#ffffff40, transparent);
  background-size: cover;
  background-color: #900;
  border: 1.5px solid #00000099;
}

#symbols-key dl img,
#bookmark-symbols-key img {
  width: 0 !important;
  height: 0 !important;
  padding: 25px 0 0 25px;
}

.blurb ul.required-tags li span,
.bookmark .status span:not(.status .private),
#symbols-key dl img,
#bookmark-symbols-key img {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px;
}

.required-tags .rating-notrated,
.required-tags .category-none,
.required-tags .warning-no,
.status .count,
img[src$="/images/skins/iconsets/default/rating-notrated.png"],
img[src$="/images/skins/iconsets/default/category-none.png"],
img[src$="/images/skins/iconsets/default/warning-no.png"] {
  background: #fff;
  color: #ddd;
}

.required-tags .rating-general-audience,
img[src$="/images/skins/iconsets/default/rating-general-audience.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-gen_01.png");
  background-size: cover;
  background-color: #85ad56;
  color: #0000001a;
}

.required-tags .rating-teen,
img[src$="/images/skins/iconsets/default/rating-teen.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-teen_01.png");
  background-size: cover;
  background-color: #e5cf5a;
  color: #0000001a;
}

.required-tags .rating-mature,
img[src$="/images/skins/iconsets/default/rating-mature.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-mature_01.png");
  background-size: cover;
  background-color: #eb9846;
  color: #0000001a;
}

.required-tags .rating-explicit,
img[src$="/images/skins/iconsets/default/rating-explicit.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_rating-explicit_01.png");
  background-size: cover;
  background-color: #db4425;
  color: #0000001a;
}

.required-tags .category-femslash,
img[src$="/images/skins/iconsets/default/category-femslash.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-ff_01.png");
  background-size: cover;
  background-color: #cd4e64;
  color: #0000001a;
}

.required-tags .category-het,
img[src$="/images/skins/iconsets/default/category-het.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-mf_01.png");
  background-size: cover;
  background-color: #8e61a7;
  color: #0000001a;
}

.required-tags .category-gen,
img[src$="/images/skins/iconsets/default/category-gen.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-gen_01.png");
  background-size: cover;
  background-color: #84a72a;
  color: #0000001a;
}

.required-tags .category-slash,
img[src$="/images/skins/iconsets/default/category-slash.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-mm_01.png");
  background-size: cover;
  background-color: #4e7dc5;
  color: #0000001a;
}

.required-tags .category-multi,
img[src$="/images/skins/iconsets/default/category-multi.png"] {
  background: conic-gradient(from 270deg, #84a72a 25%, #cd4e64 25% 50%, #4e7dc5 50% 75%, #8e61a7 75%);
  color: #0000001a;
}

.required-tags .category-other,
img[src$="/images/skins/iconsets/default/category-other.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_category-other_01.png");
  background-size: cover;
  background-color: #000;
  color: #0000001a;
}

.required-tags .warning-choosenotto,
img[src$="/images/skins/iconsets/default/warning-choosenotto.png"] {
  background: url("https://i.imgur.com/tr9ZEUk.png");
  background-size: cover;
  background-color: #eb9846;
  color: #0000001a;
}

.required-tags .warning-yes,
img[src$="/images/skins/iconsets/default/warning-yes.png"] {
  background: url("https://i.imgur.com/T8MwbEc.png");
  background-size: cover;
  background-color: #db4425;
  color: #0000001a;
}

.required-tags .external-work,
img[src$="/images/skins/iconsets/default/warning-external-work.png"] {
  background: url("https://i.imgur.com/s2gL7oh.png");
  background-size: cover;
  background-color: #69b1d9;
  color: #0000001a;
}

.required-tags .complete-no,
img[src$="/images/skins/iconsets/default/complete-no.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_complete-no_01.png");
  background-size: cover;
  background-color: #db4425;
  color: #0000001a;
}

.required-tags .complete-yes,
img[src$="/images/skins/iconsets/default/complete-yes.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_complete-yes_01.png");
  background-size: cover;
  background-color: #85ad56;
  color: #0000001a;
}

.status .rec,
img[src$="/images/skins/iconsets/default/bookmark-rec.png"] {
  background: url("https://i.imgur.com/HQTkazl.png");
  background-size: cover;
  background-color: #9d4135;
  color: #0000001a;
}

.status .public,
img[src$="/images/skins/iconsets/default/bookmark-public.png"] {
  background: url("https://i.imgur.com/sjx58L4.png");
  background-size: cover;
  background-color: #9d4135;
  color: #0000001a;
}

.status .private .text,
img[src$="/images/skins/iconsets/default/bookmark-private.png"] {
  font-size: inherit;
  text-indent: -9999px;
  white-space: nowrap;
  background: url(https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-locked_01.png);
  background-size: cover;
  background-color: #000;
}

.status .hidden,
img[src$="/images/skins/iconsets/default/bookmark-hidden.png"] {
  background: url("https://images.squidge.org/images/2025/02/09/zerafina_icon_bookmark-locked_01.png");
  background-size: cover;
  background-color: #db4425;
  color: #ddd;
}

a.rss span {
  padding: 0;
  background: none;
}

.actions li a.rss {
  display: inline-flex;
  align-content: center;
  align-items: center;
  column-gap: 0.3em;
}

.actions li a.rss::before {
  content: "";
  height: 0.85em;
  width: 0.85em;
  background-image: url("https://i.imgur.com/xv6pcOB.png");
  background-size: cover;
  background-color: #9d4135;
  box-shadow: inset 0 0 0 1px;
  border-radius: 3px;
  color: #00000025;
}

p.kudos {
  background: none;
}

div:has(> p.kudos)::before {
  content: "";
  height: 55px;
  width: 55px;
  position: absolute;
  background-image: url("https://images.squidge.org/images/2025/02/15/zerafina_icon_kudos_01.png");
  background-size: cover;
  filter: invert(18%) sepia(86%) saturate(2463%) hue-rotate(345deg) brightness(88%) contrast(95%);
}

img[src$="/images/lockblue.png"] {
  content: url("https://i.imgur.com/vIDYTH3.png");
}

#header .logo {
  content: url("/images/logo.png");
}

.blurb ul.required-tags li span,
.bookmark .status span:not(.status .private),
#symbols-key dl img,
#bookmark-symbols-key img {
  border-radius: 0.25em;
}

.admin .primary .icon {
  border: none !important;
}

.index .tagset .icon {
  background-image: url(https://i.imgur.com/23lgnd4.png) !important;
  background-size: contain !important;
}

li.comment img[src$="/images/skins/iconsets/default/icon_user.png"] {
  background-color: #e4beb8;
}

.primary.header.module img[src$="/images/skins/iconsets/default/icon_user.png"] {
  background-color: #f0d4cf !important;
}

img[src$="/images/skins/iconsets/default/rating-notrated.png"],
span.warning-no.warnings,
img[src$="/images/skins/iconsets/default/category-none.png"],
img[src$="/images/skins/iconsets/default/warning-no.png"],
img[src$="/images/skins/iconsets/default/category-none.png"],
span.category-none.category,
span.rating-notrated.rating {
  background: #ffe9e6 !important;
  color: #ffe9e6;
}