/*Optional Highlight for intense tags
Note: This doesn't block tags, this just highlights them so you can have a heads up before jumping into a fic. Below are just examples, feel free to modify or add for certain tags to your liking. */

/* the "%20" between words means a "space between", like if you want to highlight warnings for "Cool Beans", you write something like Cool%20Beans */

a.tag[href*="Noncon"]:not([href*="Dark"]),
a.tag[href*="Dead%20Dove"]:not([href*="Dark"]) {
  color: #ba1a1a;
  background: #ffdad6;
  border-color: #ba1a1a;
  font-weight: bold;
}
