h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: Platypi, "Roboto", Verdana, "Trebuchet MS", Calibri, sans-serif;
  border-bottom: none;
  font-weight: bolder;
}

body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
blockquote,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander,
.bookmark .user .meta,
.datetime,
a.work,
span.symbol,
.splash .news .meta,
select {
  font-family: Platypi, "Roboto", Verdana, "Trebuchet MS", Calibri, sans-serif;
}

#footer li,
.comment .userstuff,
.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
textarea,
p.type,
.meta dd,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
#header h1,
#header,
#outer.wrapper,
#inner.wrapper,
#modal,
.filters .expander,
h5,
h6,
h4.viewed,
p.note,
blockquote,
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
#main,
select {
  font-size: 1.05em;
}

.home .header h2,
.preface h3,
.faq .categories h3,
.userstuff h3,
#footer a {
  border-bottom: none;
}

#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
#inner.wrapper,
#modal,
h3,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander,
.userstuff h2,
.userstuff h1,
.userstuff h3,
.userstuff h4,
p.note,
blockquote,
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
#main,
select {
  line-height: 1.8em;
}

.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander {
  font-size: 0.84em;
}

h4.heading {
  font-size: 1.640625em;
  font-weight: bolder;
}

h4 {
  font-size: 1.3125em;
}

h4.heading .datetime {
  padding: 5px;
  font-size: 0.5376em;
}

.preface a:hover {
  text-decoration: none;
}

#header {
  font-size: 1.05em;
}

.news h4.heading {
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander {
  font-size: 100%;
}

h1,
h2 {
  font-size: 2.05078125em;
  font-weight: 600;
}

h3 {
  font-size: 1.640625em;
}

.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
p.type,
.meta dd,
#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  word-spacing: 0.15em;
}

.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea,
p.type,
.meta dd,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  letter-spacing: 0.04em;
}

#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
div#comments_placeholder,
.blurb dl.stats,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  text-align: left;
}

#workskin {
  text-align: left !important;
}

div#comments_placeholder,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  width: 70%;
  max-width: 45em;
}

.comment .userstuff {
  width: 95%;
}

.blurb .userstuff {
  padding: 20px 0;
}

.userstuff p {
  margin: 2em auto;
}

u,
acronym[title],
abbr[title] {
  border-bottom: 2px solid #E6C384;
  padding-bottom: 4px;
  text-decoration: none;
  font-weight: 700;
}

b,
strong {
  font-weight: 700;
}

i,
em,
cite {
  font-style: normal;
  font-weight: 700;
}

.userstuff blockquote {
  border-inline-start: 2px solid #54546D;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form,
#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary,
.ui-sortable li,
input,
.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  box-shadow: none;
}

.announcement blockquote.userstuff,
#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
input,
.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  background-image: none;
}

.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  border-color: initial;
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}

fieldset.work.meta .fandom.required ul.autocomplete {
  background: transparent;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
.listbox .index,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
li.blurb,
li.comment,
.comment h4.byline,
dl.index dd,
form blockquote.userstuff,
table,
tr,
th,
td,
thead,
tfoot,
.reading h4.viewed,
li.relationships a {
  background: transparent;
}

.secondary,
dl.meta,
li.post.group,
.faq .example,
.guideline .example,
tr:hover,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
li.blurb,
li.comment {
  border: none;
  border-radius: 5px;
}

th,
thead,
tbody tr {
  border: none;
}

li.post.group {
  padding: 10px;
}

.splash .news li:last-of-type {
  border-bottom: none;
  border-radius: 5px;
}

tr,
th,
td,
thead,
tfoot {
  vertical-align: middle;
}

.bookmark .user,
.filters dl,
.filters dt,
dl.index dd,
div.comment,
#modal,
#dashboard.own,
#dashboard ul,
.autocomplete div.dropdown ul,
.event .userstuff,
#dashboard.own,
#dashboard ul,
.splash .module h3,
.comment div.icon,
a,
a:link,
a:visited:hover {
  border: none;
}

#dashboard.own,
#dashboard ul,
.splash .module h3,
.comment div.icon,
a,
a:link,
a:visited:hover {
  border-top: none;
  border-bottom: none;
}

span.symbol {
  color: initial;
  border: 1px solid;
  vertical-align: middle;
}

.blurb .header img,
#workskin h2.heading img {
  vertical-align: baseline;
  padding: 3px;
  border-radius: 3px;
}

.icon {
  height: 80px;
  width: 80px;
}

.tag .primary .icon,
.tagset .primary .icon {
  background: url(/images/imageset.png) -10px -285px;
}

.skins .primary .icon {
  background: url(/images/imageset.png) -10px -185px;
}

.comment h4.byline {
  padding: 0.25em;
}

.abbreviated h4.byline {
  padding-left: 0.25em;
}

.comment div.icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat -10px -85px;
  display: block;
}

.comment .posted {
  display: block;
  float: none;
}

.group.listbox {
  border: 1px solid transparent;
}

.fandom .group.listbox {
  width: 100%;
}

form.inbox {
  overflow-x: initial;
}

#dashboard {
  border-color: transparent;
}

.LV_invalid {
  background: #E82424;
  border: none #E82424;
  color: #E6C384;
  border-radius: 5px;
  box-shadow: none;
}

.LV_invalid:before {
  border-color: #E82424 transparent;
  border-width: 0 0.643em 0.643em;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border-color: #E82424;
}

div#comments_placeholder,
#main.system h2.heading,
#main.system h3.heading,
.userstuff img,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  margin: auto;
}

#outer.wrapper,
#header {
  line-height: normal;
}

#header .logo,
#header .heading sup,
#greeting p.icon {
  display: none;
}

#header .heading {
  margin-left: 2em;
}

#header h1 {
  font-weight: 700;
}

#login,
#greeting {
  margin-top: 10px;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: 25em;
}

.news .wrapper,
#main.system h2.heading,
#main.system h3.heading,
#header h2.collections,
#header h2 {
  text-align: center;
}

.userstuff img {
  max-width: 90%;
}

#main.system h2.heading,
#main.system h3.heading,
.userstuff img {
  display: block;
}

#header h2.collections,
#header h2 {
  border-top: none;
}

.home .header .userstuff,
.home .header dl.stats,
.home .header .type {
  margin-left: initial;
}

a.tag,
a.tag:visited,
a.tag:link {
  display: inline-block;
  padding: 4px 7px;
  margin: 4px 0px;
  border: 2px solid #3aacff;
  border-radius: 5px;
}

.commas li:after {
  content: "";
}

.favorite a.tag {
  border: none;
}

.blurb dl.stats {
  float: initial;
}

.meta ul li {
  padding-left: 0;
}

#header .primary a {
  color: #7FB4CA;
}

.blurb ul li,
.blurb dd ul li,
.meta dd ul li {
  display: inline;
  margin: 0;
}

.notice a,
.notice a:link,
.notice a:visited,
.announcement a,
.announcement a:link,
.announcement a:visited {
  text-decoration: underline;
}

.filters .expander,
.filters .expanded .expander {
  padding: 0px;
  font-size: 1.05em;
  background: none;
}

.filters .expander::before {
  content: "➙";
}

.filters .expanded .expander::before {
  content: "➘";
}

.filters input:checked + .indicator + span {
  font-weight: inherit;
}

.filters [type=radio] + .indicator:before,
.filters [type=radio]:checked + .indicator:before,
.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before,
.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before,
input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  width: 0.9em;
  height: 0.9em;
}

input[type=radio] {
  border-radius: 50%;
}

.filters [type=radio] + .indicator:before {
  content: "";
  vertical-align: -0.125em;
  background: none;
  background-color: #43566b;
  border: none;
}

.filters [type=radio]:checked + .indicator:before {
  content: "";
  vertical-align: -0.125em;
  background: none;
  background-color: #7FB4CA;
  border: none;
}

.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before {
  content: "";
  padding: 0px;
  border-radius: 0px;
  vertical-align: -0.125em;
  background: none;
  background-color: #54546D;
  border: none;
}

.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before {
  content: "";
  padding: 0px;
  border-radius: 0px;
  vertical-align: -0.125em;
  background: none;
  background-color: #7FB4CA;
  border: none;
}

.filters .exclude [type=checkbox]:checked + .indicator:before {
  background-color: #E46876;
}

input[type=checkbox],
input[type=radio],
.actions input[type=checkbox],
label.action input[type=checkbox] {
  background-color: #54546D;
  border: none #a8b5c4;
}

input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  background-color: #7FB4CA;
  border: none;
}

form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=file],
input.number,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea {
  border-top-color: #43566b;
  border-color: #43566b;
  background-color: #43566b;
  border-radius: 5px;
}

p input,
input[type=checkbox] {
  border-top-color: #54546D;
  border-color: #54546D;
  background-color: #54546D;
}

.filters [type=radio] + .indicator:before,
.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before {
  background-color: #54546D;
}

.filters .exclude [type=checkbox]:checked + .indicator:before {
  background-color: #E46876;
}

.javascript {
  background-color: #1F1F28 !important;
}

.announcement input[type=submit],
.announcement .action {
  border: 1px solid #a8b5c4;
}

.ui-draggable form {
  box-shadow: 0 0 3px #43566b;
}

.filters .expander,
.filters .expanded .expander {
  border: none #3aacff;
  border-radius: 5px;
  margin-top: 10px;
}

#header a,
#header a:visited,
#header .current,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander,
.userstuff h1,
.userstuff h2,
.userstuff h3,
.userstuff h4,
.userstuff h5,
.userstuff h6,
a.tag,
a.tag:visited,
a.tag:link,
.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type=submit],
button,
.current,
.actions label,
.listbox > .heading,
.listbox .heading a:visited,
form dd.required,
.filters dt,
.filters dd,
.filters input[type=submit],
#header .primary .menu a,
#header .primary .menu .current,
#outer .current,
label,
.autocomplete li.added,
.post .meta dd ul li.added,
.dropdown,
.splash .favorite li:nth-of-type(odd) a,
.statistics .index li:nth-of-type(even),
input#site_search:focus,
#header #search input:focus,
.autocomplete div.dropdown ul,
.toggled form,
.dynamic form,
.ui-sortable li:hover,
.ui-sortable li,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=file],
input.number,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea,
p input,
input[type=checkbox],
.announcement input[type=submit],
.announcement .action {
  color: #DCD7BA;
}

body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander,
.announcement input[type=submit],
.announcement .action {
  background-color: #1c232d;
  background: #1F1F28;
}

.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type=submit],
button,
.current,
.actions label,
.dropdown,
.splash .favorite li:nth-of-type(odd) a,
.statistics .index li:nth-of-type(even),
input#site_search:focus,
#header #search input:focus,
.autocomplete div.dropdown ul,
.toggled form,
.dynamic form,
.secondary,
.ui-sortable li:hover,
.ui-sortable li,
#dashboard .current,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header #search input,
tr:hover,
#outer .current {
  background-color: #2f4258;
  background: #363646;
}

a,
a:link,
a:visited,
a.tag,
a.tag:visited,
a.tag:link,
.listbox .index a:link,
.listbox .index a:visited,
.listbox .index a,
#header .heading a,
.splash .module h3,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:visited,
#dashboard a,
#dashboard span,
#header .user a:hover,
#header .user a:focus,
#header .user .current,
li::marker,
.draggable,
.droppable {
  color: #7E9CD8;
}

#footer,
a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
.blurb h4 a:hover,
a:visited:hover,
input[type=submit]:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
.event .userstuff,
.event .userstuff a,
.event .userstuff a:link,
.event .userstuff a:visited,
.listbox .index a:hover,
.autocomplete .dropdown ul li:hover,
li.selected,
.filters [type=radio]:checked + .indicator:before,
.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before,
.filters .expander,
.filters .expanded .expander {
  background-color: #223249;
}

#header .primary {
  background: #223249;
}

#footer,
a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
.blurb h4 a:hover,
a:visited:hover,
input[type=submit]:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
.event .userstuff,
.event .userstuff a,
.event .userstuff a:link,
.event .userstuff a:visited,
.listbox .index a:hover,
.autocomplete .dropdown ul li:hover,
li.selected,
li.dropdown,
.notice a,
.notice a:link,
.notice a:visited,
.announcement a,
.announcement a:link,
.announcement a:visited,
.filters .expander,
.filters .expanded .expander {
  color: #7FB4CA;
  border: solid 2px #658594;
}

input[type=submit]:hover {
  outline: solid 1px #658594 !important;
  outline-offset: -1px !important;
}

::-moz-selection,
::selection,
::-webkit-selection {
  background-color: #658594;
  color: #1c232d;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2 {
  background-color: #658594;
}

.required,
.error,
.alert.flash,
.nominations .rejected {
  color: #E82424;
}

a.modal.help:hover {
  background-color: transparent;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
.secondary,
th,
thead,
tbody tr,
.wrapper,
li.blurb,
fieldset,
form dl,
dl.meta,
li.post.group,
.splash .news li:last-of-type,
li.comment,
.faq .example,
.guideline .example {
  border-color: #a8b5c4;
}

span.offered.requested {
  color: #FFA066;
}

span.offered,
.replied,
.nominations .approved {
  color: #76946A;
}

span.requested,
.nominations .rejected {
  color: #E82424;
}

fieldset,
li.blurb,
.wrapper,
li.comment,
#main li.blurb,
div#user-fandoms,
.draft,
li.post.group,
.fandom .group.listbox {
  background-color: #2A2A37;
  border-radius: 5px;
}

form.verbose legend {
  background-color: #43566b;
}

.notice,
.announcement,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2 {
  color: #223249;
  font-weight: bold;
  border: 2px solid #2D4F67 !important;
}

.thread .even {
  background-color: #252535;
}

#footer .heading,
#footer a,
#footer {
  color: #1c232d;
}

.blurb .header img {
  background-color: #edf1f9;
}

input#site_search {
  background: #2D4F67 !important;
}

ul.menu.dropdown.menu {
  background: #2D4F67 !important;
}

a.tag {
  color: #957FB8 !important;
  background: #252535 !important;
  border-color: #54546D !important;
}

a.tag:hover {
  color: #7E9CD8 !important;
  background: #252535 !important;
  border-color: #658594 !important;
}

h5.fandoms.heading a.tag {
  color: #938AA9 !important;
  background: #363646 !important;
  border-color: #54546D !important;
}

h5.fandoms.heading a.tag:hover {
  color: #7E9CD8 !important;
  background: #363646 !important;
  border-color: #658594 !important;
}

h4.heading a {
  color: #C8C093 !important;
}

#footer .heading,
#footer a {
  color: #DCD7BA !important;
}

.search input:focus + [role="tooltip"] {
  color: #658594;
  background: #16161D;
  border-color: #658594;
}

span.question {
  background: #658594;
  border-color: #658594 !important;
  color: #1F1F28 !important;
}

span.current {
  background: #2A2A37 !important;
  border: #54546D solid 2px !important;
}

p.required.notice {
  color: #DCD7BA !important;
  font-weight: bold;
  border: 2px solid #2D4F67 !important;
}

div.latest.messages.module li.comment {
  background: #16161D;
}

div#main.pseuds-edit.dashboard.region ul.notes {
  background: #2A2A37;
}

div#main.pseuds-edit.dashboard.region ul.notes li {
  color: #658594;
}

p.character_counter {
  color: #C8C093;
}

form.single fieldset {
  border: 1px solid #9CABCA !important;
}

.notice a,
.notice a:visited {
  color: #C8C093 !important;
}

.filters .group dt.bookmarker {
  border-top: 1px solid #9CABCA !important;
}

.filters [type=checkbox]:checked + .indicator:before {
  background-color: #7FB4CA !important;
}

span.unread {
  background: #43242B;
  color: #E46876;
  font-weight: bold;
  border-color: #C34043;
  font-family: Platypi, "Noto Sans JP", "Roboto", Verdana, "Trebuchet MS", Calibri, sans-serif;
}

#header #search .button {
  outline: 2px solid #54546D;
  outline-offset: -1px;
  background: #2D4F67;
}

#header #search .button:hover {
  outline: 2px solid #658594;
  outline-offset: -1px;
}

#dashboard .secondary {
  background: #223249 !important;
}

.blurb .header img {
  background-color: #E6C384;
}

div#main.external_works-new.region ul.autocomplete {
  background: transparent;
  border: transparent !important;
}

div#main.external_works-new.region legend {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: #6A9589 !important;
  text-decoration-style: wavy;
}

p.close.actions a:hover {
  border: #C34043 solid 2px;
  background: #43242B;
  color: #C34043;
}

p.close.actions a {
  border: #658594 solid 2px;
  background: #223249;
  color: #658594;
}

#header .menu li {
  border-bottom: 1px solid #16161D !important;
}

pre,
code {
  font-family: 'Miracode', 'Monaco', 'Consolas', Courier, monospace;
}

div#main.system.docs.index.region a.tag {
  color: #7FB4CA !important;
}

div#main.system.docs.index.region a.tag:hover {
  border-color: #658594 !important;
  color: #7E9CD8 !important;
}

.chapter .preface {
  border-top: 2px solid #54546D !important;
}

.chapter .secondary,
.download .secondary a {
  background: #2A2A37;
}

div#main.admin_posts-index.dashboard.region h3.heading a {
  color: #C8C093;
}

.filters [type=radio]:checked + .indicator:before {
  background-color: #7FB4CA !important;
}

#footer {
  border: none;
}

div#main.skins-edit.region ul.options.index.group.many {
  background: #363646;
}

.notice li::marker {
  color: #2D4F67;
}

.notice a,
.notice a:link {
  color: #DCD7BA !important;
}

div.news.module.group h3.heading a {
  color: #C8C093;
}

li.skins.own.picture.blurb.group img.icon {
  padding: 0px !important;
  background-image: none !important;
  background: none !important;
  border: solid 2px;
}

.kudos_error {
  background: #E82424;
  border: solid 2px #FF5D62;
  box-shadow: 1px 1px 2px #16161D;
}

textarea {
  font-family: Platypi, "Noto Sans JP", "Roboto", Verdana, "Trebuchet MS", Calibri, sans-serif;
}

.kudos_error {
  border: solid 2px #FF5D62 !important;
  color: #C8C093 !important;
}

textarea:focus-visible,
select:focus-visible {
  outline: solid 2px #658594 !important;
}

div#admin-banner.alert.announcement.group blockquote.userstuff {
  background: #6A9589 !important;
  border: 2px solid #2D4F67 !important;
  border-radius: 0.25em;
}

div#admin-banner.alert.announcement.group {
  border: none !important;
}

div#admin-banner.alert.announcement.group blockquote.userstuff a,
div#admin-banner.alert.announcement.group blockquote.userstuff a:link {
  color: #DCD7BA;
  border: none !important;
}

fieldset#advanced_skin_fieldset span.actions.cancel a:hover {
  border: #C34043 solid 2px;
  background: #43242B;
  color: #C34043;
}

fieldset#advanced_skin_fieldset span.delete a:hover {
  border: #C34043 solid 2px;
  background: #43242B;
  color: #C34043;
  border-radius: 6px;
}

div#main.works-new.region ul.autocomplete {
  border: none !important;
}

div#modal-wrap.modal-closer .content.userstuff {
  border: none !important;
}

div#main.owned_tag_sets-index ul.navigation.actions fieldset {
  background: none !important;
}

ol.tagset.index.group button.expand.hidden,
ol.tagset.index.group button.contract.hidden,
ol.tagset.index.group button.shuffle.hidden {
  box-shadow: none !important;
  border: none;
  background: #2D4F67;
  color: #C8C093;
}

ol.tagset.index.group button.expand.hidden:hover,
ol.tagset.index.group button.contract.hidden:hover,
ol.tagset.index.group button.shuffle.hidden:hover {
  background: #7E9CD8;
  box-shadow: none !important;
  color: #DCD7BA !important;
  border: none;
}

.tagset.home ol.tagset.index.group .listbox.group {
  background: #363646 !important;
}

.tagset.home ol.tagset.index.group .listbox.group span.actions button.contract_all,
.tagset.home ol.tagset.index.group .listbox.group span.actions button.expand_all {
  background: #2A2A37 !important;
  border: none;
  color: #DCD7BA !important;
}

.tagset.home ol.tagset.index.group .listbox.group span.actions button.contract_all:hover,
.tagset.home ol.tagset.index.group .listbox.group span.actions button.expand_all:hover {
  color: #7FB4CA !important;
  border: solid 2px #658594;
  box-shadow: none;
}

.flash.error {
  border: solid 2px #FF5D62 !important;
  color: #C8C093 !important;
  background: #43242B;
}

div#main.inbox-show.dashboard.region dl {
  background-color: #223249;
}

a.rtf-link.current,
a.html-link.current {
  background: #223249 !important;
  color: #658594 !important;
  border: 2px solid #658594 !important;
}

div#main.invitations-manage.dashboard.region thead {
  background: #16161D;
}

div#main.invitations-manage.dashboard.region table {
  background: #2A2A37;
}

td:hover {
  border: 2px solid #54546D;
}

div#main.works-new.region .tox-toolbar {
  border: #C8C093 solid 1px !important;
  background: #C8C093 !important;
}

div#main.works-new.region iframe {
  background: #DCD7BA !important;
}

div#main.works-new.region .tox-toolbar__group {
  border-color: #C8C093 !important;
}

div#main.works-new.region .tox .tox-tbtn--enabled {
  background-color: #6A9589 !important;
}

button.tox-tbtn:hover {
  background-color: #658594 !important;
}

div#main.works-new.region .tox-statusbar__resize-handle,
.tox .tox-statusbar__path,
.tox-statusbar {
  background: #54546D !important;
}

div#main.works-new.region body#tinymce {
  font-family: Platypi, "Noto Sans JP", "Roboto", Verdana, "Trebuchet MS", Calibri, sans-serif;
}

::selection {
  background: #363646;
  color: #658594;
}

h1.heading a {
  text-shadow: 2px 1px 1px #1F1F28;
}

#header ul.user.navigation.actions a.dropdown-toggle,
#header ul.user.navigation.actions a {
  text-shadow: 1px 1px 1px #1F1F28;
}

header#header {
  background-image: url(https://i.imgur.com/wW7dSbR.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -102px;
}

#header .primary {
  background-image: url(https://i.imgur.com/WPMKNLt.png);
  background-blend-mode: soft-light;
}

div#inner {
  background-image: url(https://i.imgur.com/8wAz229.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: bottom !important;
  background-blend-mode: lighten;
}

#dashboard.region.own .secondary,
div#dashboard.region .secondary {
  background: #223249 !important;
  background-image: url(https://i.imgur.com/m8BAKLp.jpeg) !important;
  background-blend-mode: soft-light;
  background-size: cover !important;
}

#dashboard.region.own ul.expandable.secondary a,
div#dashboard.region .secondary a {
  text-shadow: 0px 1px 0px #C8C093;
}

div.bio.module blockquote.userstuff {
  background-size: cover;
  color: #2A2A37;
  padding: 7px;
  background-color: #DCD7BA;
  border: #223249 solid 2px;
  background-image: url(https://i.imgur.com/F3HqAUM.jpeg);
  background-blend-mode: multiply;
}

.user.home.profile img.icon,
div#main.users-show.dashboard img.icon,
.user.pseud.home img.icon {
  border: 5px solid transparent;
  background-image: url(https://i.imgur.com/eucyR9y.jpeg) !important;
  background-size: 100px 100px !important;
}

div.news.module.group .userstuff,
div#main.system .userstuff,
.social.module.odd p.note,
div#main.skins-show.region div.parents.module ul.index.group {
  background-color: #2A2A37;
  padding: 7px;
}

div.user.pseud.home div#user-fandoms.fandom.listbox.group {
  background-image: url(https://i.imgur.com/KdVMxvr.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: bottom !important;
  background-blend-mode: soft-light;
}

.user.pseud.home div#user-fandoms a:before {
  content: "❖ ";
}

div.parents.module h3.heading {
  text-shadow: 1px 1px 1px #1F1F28;
}

.latest.messages.module p.note,
.latest.messages.module .userstuff {
  background: none !important;
}

div#add_comment fieldset {
  background-image: url(https://i.imgur.com/l6H1gIu.png) !important;
  background-size: cover;
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-position-y: 1px;
}

#footer li {
  color: #C8C093;
}

span.series .position + .divider:after,
span.series .previous + .divider:before {
  content: "🌊" !important;
  color: #9CABCA;
}

#symbols-key dl {
  background: #363646;
  border: none !important;
}

span.replied {
  background: #2B3328 !important;
}

form.filters dl {
  background: none !important;
}

div#footer:after {
  content: "proship with love ♥";
  color: #C8C093;
}

div.work ul.work.navigation.actions button,
div#main.works-show.region button,
div#main.collections-show ul.navigation.actions button,
li.collection.picture.blurb.group button,
button[type=submit] {
  background: #363646;
  color: #DCD7BA;
  border: none;
}

div.work ul.work.navigation.actions button:hover,
div#main.works-show.region button:hover,
div#main.collections-show ul.navigation.actions button:hover,
li.collection.picture.blurb.group button:hover,
button[type=submit]:hover {
  color: #7FB4CA;
  border: solid 2px #658594;
  background-color: #223249;
  background: #223249;
  box-shadow: none;
}

#footer button {
  color: #DCD7BA !important;
}

p.faq.userstuff.notice,
ul.faq.userstuff.notice {
  background: #223249 !important;
  border-radius: 2px;
  color: #C8C093;
}

div#admin-banner {
  border: none !important;
}

div#admin-banner a {
  border: none;
  color: #6A9589 !important;
}

div#admin-banner a:hover {
  color: #C8C093 !important;
}

img[src$="/images/lockblue.png"] {
    background-repeat: no-repeat !important;
}

.download .secondary {
  border: solid 1px #2A2A37 !important;
  box-shadow: none !important;
  background: #2D4F67 !important;
}
