h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  border-bottom: none;
  font-weight: bolder;
  font-family: Monofonto, monospace !important;
}

body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
blockquote,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander,
.bookmark .user .meta,
.datetime,
a.work,
span.symbol,
.splash .news .meta,
select {
  font-family: Monofonto, monospace !important;
}

#footer li,
.comment .userstuff,
.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
textarea,
p.type,
.meta dd,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
#header h1,
#header,
#outer.wrapper,
#inner.wrapper,
#modal,
.filters .expander,
h5,
h6,
h4.viewed,
p.note,
blockquote,
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
#main,
select {
  font-size: 1.05em;
  border-radius: 0px;
}

.home .header h2,
.preface h3,
.faq .categories h3,
.userstuff h3,
#footer a {
  border-bottom: none;
}

#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
#inner.wrapper,
#modal,
h3,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander,
.userstuff h2,
.userstuff h1,
.userstuff h3,
.userstuff h4,
p.note,
blockquote,
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
#main,
select {
  line-height: 1.8em;
}

.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander {
  font-size: 0.84em;
}

h4.heading {
  font-size: 1.640625em;
  font-weight: bolder;
}

h4 {
  font-size: 1.3125em;
}

h4.heading .datetime {
  padding: 5px;
  font-size: 0.5376em;
}

.preface a:hover {
  text-decoration: none;
}

#header {
  font-size: 1.05em;
}

.news h4.heading {
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander {
  font-size: 100%;
}

h1,
h2 {
  font-size: 2.05078125em;
  font-weight: 600;
}

h3 {
  font-size: 1.640625em;
}

.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
p.type,
.meta dd,
#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  word-spacing: 0.15em;
}

.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea,
p.type,
.meta dd,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  letter-spacing: 0.04em;
}

#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
div#comments_placeholder,
.blurb dl.stats,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  text-align: left;
}

#workskin {
  text-align: left !important;
}

div#comments_placeholder,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  width: 70%;
  max-width: 45em;
}

.comment .userstuff {
  width: 95%;
}

.blurb .userstuff {
  padding: 20px 0;
}

.userstuff p {
  margin: 2em auto;
}

u,
acronym[title],
abbr[title] {
  border-bottom: 2px solid #00EE00;
  padding-bottom: 4px;
  text-decoration: none;
  font-weight: 700;
}

b,
strong {
  font-weight: 700;
}

i,
em,
cite {
  font-style: normal;
  font-weight: 700;
}

.userstuff blockquote {
  border-inline-start: 2px solid #00EE00;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form,
#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary,
.ui-sortable li,
input,
.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  box-shadow: none;
}

.announcement blockquote.userstuff,
#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
input,
.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  background-image: none;
}

.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  border-color: initial;
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}

fieldset.work.meta .fandom.required ul.autocomplete {
  background: transparent;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
.listbox .index,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
li.blurb,
li.comment,
.comment h4.byline,
dl.index dd,
form blockquote.userstuff,
table,
tr,
th,
td,
thead,
tfoot,
.reading h4.viewed,
li.relationships a {
  background: transparent;
}

.secondary,
dl.meta,
li.post.group,
.faq .example,
.guideline .example,
tr:hover,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
li.blurb,
li.comment {
  border: none;
  border-radius: 0px;
}

th,
thead,
tbody tr {
  border: none;
}

li.post.group {
  padding: 10px;
}

.splash .news li:last-of-type {
  border-bottom: none;
  border-radius: 0px;
}

tr,
th,
td,
thead,
tfoot {
  vertical-align: middle;
}

.bookmark .user,
.filters dl,
.filters dt,
dl.index dd,
div.comment,
#modal,
#dashboard.own,
#dashboard ul,
.autocomplete div.dropdown ul,
.event .userstuff,
#dashboard.own,
#dashboard ul,
.splash .module h3,
.comment div.icon,
a,
a:link,
a:visited:hover {
  border: none;
}

#dashboard.own,
#dashboard ul,
.splash .module h3,
.comment div.icon,
a,
a:link,
a:visited:hover {
  border-top: none;
  border-bottom: none;
}

span.symbol {
  color: initial;
  border: 1px solid;
  vertical-align: middle;
}

.blurb .header img,
#workskin h2.heading img {
  vertical-align: baseline;
  padding: 3px;
  border-radius: 0px;
}

.icon {
  height: 80px;
  width: 80px;
}

.tag .primary .icon,
.tagset .primary .icon {
  background: url(/images/imageset.png) -10px -285px;
}

.skins .primary .icon {
  background: url(/images/imageset.png) -10px -185px;
}

.comment h4.byline {
  padding: 0.25em;
}

.abbreviated h4.byline {
  padding-left: 0.25em;
}

.comment div.icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat -10px -85px;
  display: block;
}

.comment .posted {
  display: block;
  float: none;
}

.group.listbox {
  border: 1px solid transparent;
}

.fandom .group.listbox {
  width: 100%;
}

form.inbox {
  overflow-x: initial;
}

#dashboard {
  border-color: transparent;
}

.LV_invalid {
  background: #f64e5b;
  border: none #f64e5b;
  color: #061006;
  border-radius: 0px;
  box-shadow: none;
}

.LV_invalid:before {
  border-color: #f64e5b transparent;
  border-width: 0 0.643em 0.643em;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border-color: #f64e5b;
}

div#comments_placeholder,
#main.system h2.heading,
#main.system h3.heading,
.userstuff img,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  margin: auto;
}

#outer.wrapper,
#header {
  line-height: normal;
}

#header .logo,
#header .heading sup,
#greeting p.icon {
  display: none;
}

#header .heading {
  margin-left: 2em;
}

#header h1 {
  font-weight: 700;
}

#login,
#greeting {
  margin-top: 10px;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: 25em;
}

.news .wrapper,
#main.system h2.heading,
#main.system h3.heading,
#header h2.collections,
#header h2 {
  text-align: center;
}

.userstuff img {
  max-width: 90%;
}

#main.system h2.heading,
#main.system h3.heading,
.userstuff img {
  display: block;
}

#header h2.collections,
#header h2 {
  border-top: none;
}

.home .header .userstuff,
.home .header dl.stats,
.home .header .type {
  margin-left: initial;
}

a.tag,
a.tag:visited,
a.tag:link {
  display: inline-block;
  padding: 4px 7px;
  margin: 4px 0px;
  border: 2px solid #00EE00;
  border-radius: 0px;
}

.commas li:after {
  content: "";
}

.favorite a.tag {
  border: none;
}

.blurb dl.stats {
  float: initial;
}

.meta ul li {
  padding-left: 0;
}

#header .primary a {
  color: #00EE00;
}

.blurb ul li,
.blurb dd ul li,
.meta dd ul li {
  display: inline;
  margin: 0;
}

.notice a,
.notice a:link,
.notice a:visited,
.announcement a,
.announcement a:link,
.announcement a:visited {
  text-decoration: underline;
}

.filters .expander,
.filters .expanded .expander {
  padding: 0px;
  font-size: 1.05em;
  background: none;
}

.filters .expander::before {
  content: "➙";
}

.filters .expanded .expander::before {
  content: "➘";
}

.filters input:checked + .indicator + span {
  font-weight: inherit;
}

.filters [type=radio] + .indicator:before,
.filters [type=radio]:checked + .indicator:before,
.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before,
.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before,
input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  width: 0.9em;
  height: 0.9em;
}

input[type=radio] {
  border-radius: 50%;
}

.filters [type=radio] + .indicator:before {
  content: "";
  vertical-align: -0.125em;
  background: none;
  background-color: #061006;
  border: 1px solid #00EE00;
}

.filters [type=radio]:checked + .indicator:before {
  content: "";
  vertical-align: -0.125em;
  background: none;
  background-color: #00EE00;
  border: none;
}

.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before {
  content: "";
  padding: 0px;
  border-radius: 0px;
  vertical-align: -0.125em;
  background: none;
  background-color: #061006;
  border: 1px solid #00EE00;
}

.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before {
  content: "";
  padding: 0px;
  border-radius: 0px;
  vertical-align: -0.125em;
  background: none;
  background-color: #00EE00;
  border: none;
}

.filters .exclude [type=checkbox]:checked + .indicator:before {
  background-color: #f64e5b;
}

input[type=checkbox],
input[type=radio],
.actions input[type=checkbox],
label.action input[type=checkbox] {
  background-color: #061006;
  border: 1px solid #00EE00;
}

input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  background-color: #00EE00 !important;
  border: none;
}

form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=file],
input.number,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea {
  border-top-color: #00EE00;
  border-color: #00EE00;
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
  border-radius: 0px;
}

p input,
input[type=checkbox] {
  border-top-color: #00EE00;
  border-color: #00EE00;
  background-color: #061006;
  border: solid 1px;
}

.filters [type=radio] + .indicator:before,
.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before {
  background-color: #061006;
  border: 1px solid #00EE00;
}

.filters .exclude [type=checkbox]:checked + .indicator:before {
  background-color: #f64e5b;
}

.javascript {
  background-color: #334151 !important;
}

.announcement input[type=submit],
.announcement .action {
  border: 1px solid #a8b5c4;
}

.ui-draggable form {
  box-shadow: 0 0 3px #43566b;
}

.filters .expander,
.filters .expanded .expander {
  border: none #00EE00;
  border-radius: 0px;
  margin-top: 10px;
}

#header a,
#header a:visited,
#header .current,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander,
.userstuff h1,
.userstuff h2,
.userstuff h3,
.userstuff h4,
.userstuff h5,
.userstuff h6,
a.tag,
a.tag:visited,
a.tag:link,
.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type=submit],
button,
.current,
.actions label,
.listbox > .heading,
.listbox .heading a:visited,
form dd.required,
.filters dt,
.filters dd,
.filters input[type=submit],
#header .primary .menu a,
#header .primary .menu .current,
#outer .current,
label,
.autocomplete li.added,
.post .meta dd ul li.added,
.dropdown,
.splash .favorite li:nth-of-type(odd) a,
.statistics .index li:nth-of-type(even),
input#site_search:focus,
#header #search input:focus,
.autocomplete div.dropdown ul,
.toggled form,
.dynamic form,
.ui-sortable li:hover,
.ui-sortable li,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=file],
input.number,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea,
p input,
input[type=checkbox],
.announcement input[type=submit],
.announcement .action {
  color: #00EE00;
}

body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander,
.announcement input[type=submit],
.announcement .action {
  background-color: #061006;
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
}

.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.actions input,
input[type=submit],
button,
.current,
.actions label,
.dropdown,
.splash .favorite li:nth-of-type(odd) a,
.statistics .index li:nth-of-type(even),
input#site_search:focus,
#header #search input:focus,
.autocomplete div.dropdown ul,
.toggled form,
.dynamic form,
.secondary,
.ui-sortable li:hover,
.ui-sortable li,
#dashboard .current,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header #search input,
tr:hover,
#outer .current {
  background-color: #061006;
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
}

a,
a:link,
a:visited,
a.tag,
a.tag:visited,
a.tag:link,
.listbox .index a:link,
.listbox .index a:visited,
.listbox .index a,
#header .heading a,
.splash .module h3,
.blurb h4 a:link,
.blurb h4 a,
.blurb h4 a:visited,
#dashboard a,
#dashboard span,
#header .user a:hover,
#header .user a:focus,
#header .user .current,
li::marker,
.draggable,
.droppable {
  color: #00EE00;
}

#footer,
a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
.blurb h4 a:hover,
a:visited:hover,
input[type=submit]:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
.event .userstuff,
.event .userstuff a,
.event .userstuff a:link,
.event .userstuff a:visited,
.listbox .index a:hover,
.autocomplete .dropdown ul li:hover,
li.selected,
.filters [type=radio]:checked + .indicator:before,
.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before,
.filters .expander,
.filters .expanded .expander {
  background-color: #00EE00;
}

#header .primary {
  background: url(https://i.imgur.com/KxeGOWV.png), #061006 !important;
  background-blend-mode: soft-light;
}

#footer,
a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
.blurb h4 a:hover,
a:visited:hover,
input[type=submit]:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
.event .userstuff,
.event .userstuff a,
.event .userstuff a:link,
.event .userstuff a:visited,
.listbox .index a:hover,
.autocomplete .dropdown ul li:hover,
li.selected,
li.dropdown,
.notice a,
.notice a:link,
.notice a:visited,
.announcement a,
.announcement a:link,
.announcement a:visited,
.filters .expander,
.filters .expanded .expander {
  color: #061006;
}

::-moz-selection,
::selection,
::-webkit-selection {
  background-color: #00EE00;
  color: #061006;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2 {
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
  border: solid 1px #00EE00 !important;
  color: #00EE00 !important;
  border-radius: 0px;
}

.required,
.error,
.alert.flash,
.nominations .rejected {
  color: #f64e5b;
}

a.modal.help:hover {
  background-color: transparent;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.listbox,
fieldset fieldset.listbox,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
form.verbose legend,
.verbose form legend,
.secondary,
th,
thead,
tbody tr,
.wrapper,
li.blurb,
fieldset,
form dl,
dl.meta,
li.post.group,
.splash .news li:last-of-type,
li.comment,
.faq .example,
.guideline .example {
  border-color: #a8b5c4;
}

span.offered.requested {
  color: #faad14;
}

span.offered,
.replied,
.nominations .approved {
  color: #00ad97;
}

span.requested,
.nominations .rejected {
  color: #f64e5b;
}

fieldset,
li.blurb,
.wrapper,
li.comment,
#main li.blurb,
div#user-fandoms,
.draft,
li.post.group,
.fandom .group.listbox {
  background-color: #002F00;
  border-radius: 0px;
}

form.verbose legend {
  background: transparent !important;
  border-left: solid 1px;
  border-right: 1px solid;
  border-radius: 0px;
}

.tox-toolbar svg:hover {
  background: #00ee00 !important;
  filter: invert(15%) sepia(100%) saturate(5043%) hue-rotate(60deg) brightness(115%) contrast(689%);
}

.notice,
.announcement,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.required .autocomplete,
.autocomplete .notice,
#header h2.collections,
#header h2 {
  color: #061006;
}

.thread .even {
  background-color: #002F00;
}

#footer .heading,
#footer a,
#footer {
  color: #061006;
}

.blurb .header img {
  background-color: #edf1f9;
}

span.symbol.question {
  background: #00EE00 !important;
  color: #061006;
}

div#main ul.actions input,
div#main ul.actions a {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
  background: transparent;
}

div#main ul.actions input:hover,
div#main ul.actions a:hover,
span.actions a:hover {
  background: #00EE00 !important;
  color: #061006 !important;
}

span.actions a:hover {
  border-radius: 0px !important;
}

span.current {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
}

#header .menu li {
  border-bottom: 1px solid #00EE00;
}

input#site_search {
  border: 1px solid #00EE00 !important;
}

fieldset {
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
  border: solid 1px #00EE00;
  border-radius: 0px !important;
}

option,
.actions option,
form code {
  color: #00EE00;
}

.tag.tagset li.search fieldset {
  border: none;
}

div#dashboard a,
div#dashboard a:visited {
  color: #009f00;
}

header#header a.dropdown-toggle,
header#header a {
  color: #009f00;
}

div#dashboard a:hover {
  border-radius: 0px;
  color: #061006;
}

form.single fieldset {
  border: 1px solid #00EE00;
}

input[type="submit"] {
  border-radius: 0px;
}

.dynamic form fieldset,
.dynamic form {
  background-color: #002F00 !important;
}

form#bookmark-filters dd.submit.actions input,
form#work-filters dd.submit.actions input,
div#user-fandoms,
.fandom .group.listbox,
form#collection-filters dd.submit.actions input {
  border: 1px solid #00EE00;
  border-radius: 0px;
}

div#user-fandoms ol.index.group,
.fandom .group.listbox .group {
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
}

span.action.top {
  background: transparent;
  border: 1px solid #00EE00;
  border-radius: 0px;
}

span.action.top a {
  color: #00EE00;
}

span.action.top a:hover {
  color: #061006;
}

.tagset.home ol.tagset.index.group .listbox.group span.actions button.contract_all,
.tagset.home ol.tagset.index.group .listbox.group span.actions button.expand_all {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
  background: transparent !important;
  box-shadow: none;
  color: #00EE00 !important;
}

.tagset.home ol.tagset.index.group .listbox.group span.actions button.contract_all:hover,
.tagset.home ol.tagset.index.group .listbox.group span.actions button.expand_all:hover {
  background: #00EE00 !important;
  color: #061006 !important;
  box-shadow: none !important;
}

.tagset.home ol.tagset.index.group .listbox.group li.freeform.letter.range.listbox.group {
  border: #00EE00 solid 1px !important;
}

ol.tagset.index.group button.expand.hidden,
ol.tagset.index.group button.contract.hidden,
ol.tagset.index.group button.shuffle.hidden {
  border: #00EE00 solid 1px !important;
  border-radius: 0px;
  background: transparent !important;
  box-shadow: none;
  color: #00EE00 !important;
}

ol.tagset.index.group button.expand.hidden:hover,
ol.tagset.index.group button.contract.hidden:hover,
ol.tagset.index.group button.shuffle.hidden:hover {
  background: #00EE00 !important;
  color: #061006 !important;
  box-shadow: none !important;
}

.tagset.home ol.tagset.index.group .listbox.group,
dd.listbox.group {
  border: #00EE00 solid 1px !important;
}

nav#dashboard.admin.region a {
  border-bottom: #00EE00 solid 1px !important;
}

div#bookmark-form {
  border: #00EE00 solid 1px !important;
}

p.close.actions a,
span.actions.cancel a,
span.delete a,
dl.subscription.index.group input[type="submit"] {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
}

.dynamic form {
  box-shadow: none;
  border: #00EE00 solid 1px !important;
  border-radius: 0px;
}

div#main.bookmarks-index.region li.user.short.blurb.group.user {
  border: #00EE00 solid 1px !important;
  background: transparent;
}

#header #search .button:hover {
  background: #00EE00 !important;
  color: #061006 !important;
}

div#dashboard ul.expandable.secondary {
  border: #00EE00 solid 1px !important;
  background: transparent !important;
}

#header .user .open a:focus {
  color: #00EE00 !important;
}

label.action,
a.hidden.showme {
  border-radius: 0px;
}

ol.pagination.actions a:hover,
ol.pagination.actions.pagy a:hover {
  border-radius: 0px;
}

.javascript {
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
}

kbd,
tt,
code,
var,
pre,
samp {
  font-family: Monofonto, 'Monaco', 'Consolas', Courier, monospace;
  margin: auto;
}

.flash.notice,
span.current,
.caution,
p.notice,
ul.notes {
  text-shadow: 1px 1px 5px #00EE00;
  box-shadow: 0px 0px 28px -8px #00EE00;
}

ul.user.navigation.actions a:hover,
#header ul.primary.navigation.actions a.dropdown-toggle:hover {
  text-shadow: 1px 1px 5px #00EE00;
}

a.advanced_skin_close.action.hidden {
  border-radius: 0px !important;
}

.caution a:hover {
  color: #00EE00 !important;
  text-shadow: 1px 1px 5px #00EE00;
}

.caution a {
  color: #00EE00 !important;
}

.error,
.comment_error,
.kudos_error,
.alert.flash,
p.required.notice {
  background: #061006 !important;
  box-shadow: 0px 0px 28px -8px #00ee0096;
  border-radius: 0px !important;
  border-color: #00EE00 !important;
}

p.actions a {
  border-radius: 0px !important;
}

header#header h1.heading,
.news.admin.home h2.heading a,
.news.admin.home h3.heading a,
div#workskin h3.title,
div#main.system.docs.support.faq.index.region h2.heading,
div#main.system.docs.about.region h2.heading {
  font-family: Overseer, Verdana, "Trebuchet MS", Calibri, sans-serif !important;
  font-style: italic;
}

nav#dashboard.admin.region a {
  border-radius: 0px;
}

fieldset,
li.blurb,
li.comment,
#main li.blurb,
div#user-fandoms,
.draft,
li.post.group,
.fandom .group.listbox,
.dynamic form,
.user.home.profile dl.meta {
  border-radius: 0px;
  background: url(https://i.imgur.com/KxeGOWV.png), #002F00 !important;
  background-blend-mode: soft-light;
}

.user.home.profile .wrapper {
  background: none;
}

#header ul.menu.dropdown-menu {
  border: solid 1px #00EE00;
}

.filters .expander {
  background: #00EE00 !important;
}

#header ul.primary.navigation.actions fieldset {
  background: none !important;
}

div#footer {
  background-image: url(https://i.imgur.com/W0Ch7rn.png);
  background-position: center;
  filter: invert(38%) sepia(100%) saturate(5043%) hue-rotate(60deg) brightness(100%) contrast(904%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-color: #002F00;
  background-blend-mode: overlay;
}

#footer a,
#footer h4.heading {
  color: #00ee00 !important;
}

#footer a:hover,
#footer h4.heading:hover {
  background: #00ee00 !important;
  color: #061006 !important;
}

.flash.notice a.action {
  color: #00ee00 !important;
  border: 1px solid;
  border-radius: 0px;
}

.flash.notice a.action:hover {
  color: #061006 !important;
}

#header .actions a[href="/menu/fandoms"],
#header .actions a[href="/menu/browse"],
#header .actions a[href="/menu/search"],
#header .actions a[href="/menu/about"] {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .actions a[href="/menu/fandoms"]::before {
  content: url("https://i.imgur.com/o57NJU2.png");
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/browse"]::before {
  content: url("https://i.imgur.com/Uo13cjp.png");
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/search"]::before {
  content: url("https://i.imgur.com/R1sLrrB.png");
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/about"]::before {
  content: url("https://i.imgur.com/nY6DG86.png");
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/fandoms"] {
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/browse"] {
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/search"] {
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/about"] {
  font-family: Monofonto, monospace !important;
  color: #009f00 !important;
}

#header .actions a[href="/menu/browse"]:hover {
  font-family: Monofonto, monospace !important;
  color: #00ee00 !important;
}

#header .actions a[href="/menu/search"]:hover {
  font-family: Monofonto, monospace !important;
  color: #00ee00 !important;
}

#header .actions a[href="/menu/about"]:hover {
  font-family: Monofonto, monospace !important;
  color: #00ee00 !important;
}

#header .actions a[href="/menu/fandoms"]:hover {
  font-family: Monofonto, monospace !important;
  color: #00ee00 !important;
}

fieldset.work.meta ul.autocomplete,
form.import.work.verbose.post ul.autocomplete,
div#main.external_works-new.region div#bookmark-form {
  border: none !important;
}

form#inbox-form fieldset.actions {
  background: none !important;
}

form#inbox-form fieldset.actions a,
form#inbox-form fieldset.actions input {
  border: 1px solid #00ee00;
}

ol.pagination.actions a {
  background: none !important;
}

form#inbox-filters input[type="submit"] {
  border: solid 1px #00ee00 !important;
  background: none;
}

span.unread {
  background: #00ee00;
  border-radius: 0px;
  border: #00ee00 1px solid;
  color: initial;
  font-family: Monofonto, monospace !important;
}

span#site_search_tooltip {
  border: solid 1px #00EE00 !important;
  border-radius: 0px !important;
  background: url(https://i.imgur.com/KxeGOWV.png), #002F00 !important;
  color: #00ee00 !important;
  text-shadow: 1px 1px 5px #00EE00;
  box-shadow: 0px 0px 28px -12px #00EE00;
}

#footer li {
  color: #00ee00 !important;
}

li.post.group,
#main li.blurb,
li.comment,
.collection.home.profile dl.meta.group,
.user.home.profile dl.meta,
dl.series.meta.group,
div#main.works-show.region dl.work.meta.group {
  border: 1px solid #009f00 !important;
}

a.current {
  background: #00ee00 !important;
  border: 1px solid !important;
}

ol.pagination.actions.pagy a:hover {
  background: #00ee00 !important;
}

fieldset.comments {
  background: none !important;
}

p.notice a {
  color: #00ee00 !important;
}

p.notice a:hover {
  color: #061006 !important;
}

.notice {
  text-shadow: 0px 0px 7px #00EE00;
  box-shadow: 0px 0px 28px -8px #00EE00;
}

.notice a:hover {
  color: #061006 !important;
  background: #00ee00 !important;
}

.notice a {
  color: #00ee00 !important;
}

p.notice a:hover,
ul.media.fandom.index.group h3.heading:hover {
  color: #061006 !important;
}

a.html-link.current,
a.rtf-link.current {
  color: #061006 !important;
}

a.html-link.current:hover,
a.rtf-link.current:hover {
  color: #00ee00 !important;
}

ul.work.navigation.actions ul.expandable.secondary {
  border: solid 1px;
}

span.series .position + .divider:after,
span.series .position + .divider:after {
  content: "-";
  color: #00ee00;
}

div#main.external_works-new.region ul.autocomplete {
  border: none !important;
  background: none;
}

p.submit.actions input[type="submit"],
p.submit.actions a,
p.submit input,
a.hidden.showme,
ul.options.index.group.many label,
div#add_comment input,
div#add_comment a,
div#main.invitations-manage.dashboard.region td:hover {
  border: 1px solid;
}

div#main.invitations-manage.dashboard.region td:hover {
  box-shadow: 0px 0px 28px -8px #00ee0096;
  background: url(https://i.imgur.com/KxeGOWV.png), #002F00 !important;
  background-blend-mode: soft-light;
}

div#main.invitations-manage.dashboard.region td {
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
}

thead th[scope=col] {
  border-bottom: 1px solid;
}

.filters .group dt.bookmarker {
  border-top: none;
}

#header ul.menu.dropdown-menu a:hover {
  color: #061006 !important;
  background: #00EE00 !important;
}

a.hidden.showme:hover,
p.submit input:hover,
span.actions.cancel a:hover,
label.action:hover,
p.actions a:hover,
p.actions input:hover,
ol.pagination.actions a:hover,
p.submit.actions input:hover,
nav#dashboard.admin.region a:hover,
div#dashboard ul.navigation.actions a:hover,
dd.submit.actions input:hover,
p.close.actions a:hover,
p.narrow-shown.hidden.actions:hover,
dl.subscription.index.group input:hover,
span.submit.actions input:hover,
p.submit.actions a:hover,
.favorite.module.odd a.tag:hover,
p input:hover {
  background: #00ee00 !important;
}

.tox-toolbar,
iframe#content_ifr {
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
}

.tox .tox-edit-area {
  border-top: 1px solid #00ee00 !important;
}

.tox.tox-tinymce {
  border: solid 1px #00ee00;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid #00ee00 !important;
}

input#query:hover {
  box-shadow: 0px 0px 19px -8px #00EE00;
}

.tox-toolbar {
  background-color: none !important;
}

div#main.external_works-new.region ul.autocomplete {
  background: none !important;
}

ol.pagination.actions.pagy a:hover {
  background: #00ee00 !important;
  border-radius: 0px !important;
  color: #061006;
}

.tagset.home dl.meta {
  border: 1px solid #009f00 !important;
}

ul.showme.hidden.actions a {
  font-family: Monofonto, monospace !important;
}

div#main.system.docs.donate.region a {
  text-decoration-line: underline;
}

div#main.system.docs.donate.region a:hover {
  text-decoration-line: none;
}

div#main.works-new.region .current {
  background: #00ee00 !important;
  background-color: #00ee00 !important;
}

div#dashboard ul.expandable.secondary a:hover {
  color: #061006 !important;
}

.content.userstuff {
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
  border: solid 1px #00ee00 !important;
}

.content.userstuff #modal .content {
  border-bottom: none !important;
}

.content.userstuff a:hover {
  background: #00ee00 !important;
}

div#main.chapters-show.region dl.work.meta.group {
  border: 1px solid #009f00 !important;
}

span.series .divider {
  color: #00ee00 !important;
}

#modal .footer a.action.modal-closer:hover {
  background: #00ee00 !important;
  border-radius: 0px !important;
  color: #061006;
}

div#main.chapters-show.region dl.work.meta.group,
div#main.series-show.region dl.series.meta.group {
  border: 1px solid #009f00 !important;
  background: url(https://i.imgur.com/KxeGOWV.png) !important;
  background-blend-mode: soft-light;
}

legend a.advanced_skin_close.action.hidden:hover {
  background: #00ee00 !important;
}

.error,
.comment_error,
.kudos_error,
.alert.flash,
p.required.notice {
  text-shadow: 1px 1px 5px #00EE00 !important;
}

textarea {
  font-family: Monofonto, monospace;
}

.flash.error a {
  text-decoration-line: underline;
}

.flash.error a:hover {
  text-decoration-line: none;
}

form#new_collection_item a:hover {
  background: #00ee00 !important;
  border-radius: 0px;
}

ul.tags.commas a.tag {
  box-shadow: 0px 0px 28px -11px #00ee0096;
  text-shadow: 1px 1px 4px #00EE00 !important;
}

textarea:focus-visible,
input[type=text]:focus-visible {
  border: 2px solid !important;
  outline: none;
  box-shadow: 0px 0px 28px -11px #00ee0096;
}

ul.tags.commas li.warnings a.tag {
  box-shadow: none !important;
  text-shadow: none !important;
}

ul.media.fandom.index.group h3.heading a:hover {
  color: #061006;
}

option:checked,
option:hover {
  background: #00ee00;
  color: #061006;
}

div#main.works-new.region .tox-statusbar__resize-handle,
.tox .tox-statusbar__path,
.tox-statusbar {
  background: #061006 !important;
}

div#main.works-new.region body#tinymce {
  color: #00ee00 !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-bottom: solid 1px #00ee00;
}

.tox-statusbar {
  border-color: #00ee00 !important;
}

div#main.works-new.region svg {
  filter: invert(22%) sepia(100%) saturate(5043%) hue-rotate(60deg) brightness(115%) contrast(655%) !important;
}

.tox .tox-tbtn--disabled svg:hover {
  filter: invert(2%) sepia(100%) saturate(5043%) hue-rotate(60deg) brightness(101%) contrast(609%) !important;
}

form#new_pseud dl {
  border-radius: 0px;
  background: url(https://i.imgur.com/KxeGOWV.png), #002F00 !important;
  background-blend-mode: soft-light;
  border: 1px solid #009f00 !important;
}

ul.notes ::marker {
  text-shadow: 1px 1px 5px #00EE00;
}

form#new_pseud dl dd.submit.actions input[type="submit"] {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
}

div#footer:after {
  content: "proship with love ♥";
  font-family: Monofonto, monospace !important;
}

::selection {
  background: #00EE00 !important;
  color: #061006 !important;
}

p.kudos {
  background: url(https://i.imgur.com/sRVXA2B.png) !important;
  background-repeat: no-repeat !important;
  background-size: 47px !important;
  filter: invert(38%) sepia(100%) saturate(5043%) hue-rotate(60deg) brightness(100%) contrast(655%);
}

.admin .primary .icon {
  background: url(https://i.imgur.com/VdFZi5M.png);
  background-size: contain;
}

#symbols-key dl {
  border: 1px solid #00EE00;
}

li.skins.own.picture.blurb.group .icon {
  background-image: none !important;
}

li.skins.own.picture.blurb.group img {
  outline: 1px solid #00ee00 !important;
  outline-offset: -3px;
}

span.replied {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
  background: transparent;
  color: #00EE00;
}

div.work ul.work.navigation.actions button,
div#main.works-show.region button,
div#main.collections-show ul.navigation.actions button,
li.collection.picture.blurb.group button,
button[type=submit] {
  border: #00EE00 solid 1px !important;
  border-radius: 0px !important;
  color: #00EE00;
}

div.work ul.work.navigation.actions button:hover,
div#main.works-show.region button:hover,
div#main.collections-show ul.navigation.actions button:hover,
li.collection.picture.blurb.group button:hover,
button[type=submit]:hover {
  box-shadow: none;
  background: #00EE00 !important;
  color: #061006 !important;
}

#footer button:hover {
  background: #00ee00 !important;
  color: #061006 !important;
  text-decoration: none;
}

div#admin-banner blockquote.userstuff {
  text-shadow: 1px 1px 5px #00EE00;
  box-shadow: 0px 0px 28px -8px #00EE00;
  background: url(https://i.imgur.com/KxeGOWV.png), #0e1c0e !important;
  background-blend-mode: soft-light;
  border: solid 1px #00EE00 !important;
  color: #00EE00 !important;
  border-radius: 0px;
}

div#admin-banner blockquote.userstuff a {
  color: #00EE00;
}

div#admin-banner blockquote.userstuff a:hover {
  color: #061006;
}

#footer button {
  border: none !important;
}

div#admin-banner a {
  background: none !important;
}

div#admin-banner a:hover {
  background: #00EE00 !important;
  color: #0e1c0e !important;
}

iframe#content_ifr {
    background: #fff !important;
    background-color: #fff !important;
}